<!-- component -->
<div class="overflow-x-auto">
    <div class="min-w-screen min-h-screen bg-gray-100 flex justify-center bg-gray-100 font-sans overflow-hidden">
        <div class="w-full lg:w-5/6">
            <div class="bg-white shadow-md rounded my-6">
                <table class="min-w-max w-full table-auto">
                    <thead>
                        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                            <th class="py-3 px-6 text-left">PreNota</th>
                            <th class="py-3 px-6 text-left">Fecha</th>
                            <th class="py-3 px-6 text-left">Piezas</th>
                            <th class="py-3 px-6 text-left">Cajas</th>                            
                            <th class="py-3 px-6 text-left">Seleccion</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600 text-sm font-light">
                        <tr class="border-b border-gray-200 hover:bg-gray-100">
                            <td class="py-3 px-6 text-left whitespace-nowrap">
                                <div class="flex items-center">                                    
                                    <span class="font-medium">121824</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">                                    
                                    <span>30/11/2024</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">                                    
                                    <span>200</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">                                    
                                    <span>2</span>
                                </div>
                            </td>                            
                            <td class="py-3 px-6 text-left">
                                <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600" />
                            </td>
                        </tr>
                        <tr class="border-b border-gray-200 bg-gray-50 hover:bg-gray-100">
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">                                    
                                    <span class="font-medium">121830</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">                                    
                                    <span>29/11/2024</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">                                    
                                    <span>300</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">                                    
                                    <span>5</span>
                                </div>
                            </td>                            
                            <td class="py-3 px-6 text-left">                                
                                <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600" />
                            </td>
                        </tr>
                        <tr class="border-b border-gray-200 hover:bg-gray-100">
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">                                    
                                    <span class="font-medium">121831</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">                                    
                                    <span>05/12/2024</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">                                    
                                    <span>500</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-left">                                    
                                    <span>5</span>
                                </div>
                            </td>                            
                            <td class="py-3 px-6 text-left">                                
                                <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600" />
                            </td>
                        </tr>
                        <tr class="border-b border-gray-200 bg-gray-50 hover:bg-gray-100">
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">                                    
                                    <span class="font-medium">121840</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">                                    
                                    <span>05/12/2024</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">                                    
                                    <span>100</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">                                    
                                    <span>1</span>
                                </div>
                            </td>                            
                            <td class="py-3 px-6 text-left">
                                <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600" />
                            </td>
                        </tr>
                        <tr class="border-b border-gray-200 hover:bg-gray-100">
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">                                    
                                    <span class="font-medium">121843</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">                                    
                                    <span>05/12/2024</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">                                    
                                    <span>200</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">                                    
                                    <span>4</span>
                                </div>
                            </td>                            
                            <td class="py-3 px-6 text-left">
                                <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600" />
                            </td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
