<!-- component -->
<div class="-my-8 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 pr-10 lg:px-8">
    
    <div class="align-middle inline-block min-w-full border-solid border-4 mt-10 overflow-hidden bg-white shadow-xl px-8 pt-3 rounded-bl-lg rounded-br-lg">
        <table class="table-fixed">
            <thead>
                <tr>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">Color/Talla</th>
                    <th *ngFor="let talla of tallas" class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">
                        {{talla}}
                    </th>                    
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">TOTAL</th>                    
                </tr>
            </thead>
            <tbody class="bg-white">
                    <tr *ngFor="let row of rows">
                        <td class="px-6 py-2 text-blue-900 border-black-900 text-sm border-2">
                            <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                            <span aria-hidden class="absolute inset-0 opacity-50 rounded-full" [ngClass]="getColorBadgeClass(row)"></span>
                            <span class="relative text-xs">{{row.color}}</span>
                        </span>
                        </td>                        
                        <td *ngIf="1 <= tallas.length" class="border-solid border-2 border-black-900 text-center"><input [(ngModel)]="row.inputVal1" class="inline w-16 h-10 text-center" (keydown)="onKey(row)"></td>
                        <td *ngIf="2 <= tallas.length" class="border-solid border-2 border-black-900 text-center"><input [(ngModel)]="row.inputVal2" class="inline w-16 h-10 text-center" (keydown)="onKey(row)"></td>
                        <td *ngIf="3 <= tallas.length" class="border-solid border-2 border-black-900 text-center"><input [(ngModel)]="row.inputVal3" class="inline w-16 h-10 text-center" (keydown)="onKey(row)"></td>
                        <td *ngIf="4 <= tallas.length" class="border-solid border-2 border-black-900 text-center"><input [(ngModel)]="row.inputVal4" class="inline w-16 h-10 text-center" (keydown)="onKey(row)"></td>
                        <td *ngIf="5 <= tallas.length" class="border-solid border-2 border-black-900 text-center"><input [(ngModel)]="row.inputVal5" class="inline w-16 h-10 text-center" (keydown)="onKey(row)"></td>
                        <td *ngIf="6 <= tallas.length" class="border-solid border-2 border-black-900 text-center"><input [(ngModel)]="row.inputVal6" class="inline w-16 h-10 text-center" (keydown)="onKey(row)"></td>
                        <td *ngIf="7 <= tallas.length" class="border-solid border-2 border-black-900 text-center"><input [(ngModel)]="row.inputVal7" class="inline w-16 h-10 text-center" (keydown)="onKey(row)"></td>
                        <td *ngIf="8 <= tallas.length" class="border-solid border-2 border-black-900 text-center"><input [(ngModel)]="row.inputVal8" class="inline w-16 h-10 text-center" (keydown)="onKey(row)"></td>
                        <td *ngIf="9 <= tallas.length" class="border-solid border-2 border-black-900 text-center"><input [(ngModel)]="row.inputVal9" class="inline w-16 h-10 text-center" (keydown)="onKey(row)"></td>
                        <td class="border-solid border-2 border-black-900 text-center"><input [(ngModel)]="row.inputValTot" disabled class="inline w-16 h-10 text-center"></td>
                    </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">Total</th>
                    <th *ngIf="1 <= tallas.length" class="px-6 py-3 border-b-2 border-gray-300 text-center text-sm leading-4 text-blue-500 tracking-wider">{{totalInputVal1}}</th>
                    <th *ngIf="2 <= tallas.length" class="px-6 py-3 border-b-2 border-gray-300 text-center text-sm leading-4 text-blue-500 tracking-wider">{{totalInputVal2}}</th>
                    <th *ngIf="3 <= tallas.length" class="px-6 py-3 border-b-2 border-gray-300 text-center text-sm leading-4 text-blue-500 tracking-wider">{{totalInputVal3}}</th>
                    <th *ngIf="4 <= tallas.length" class="px-6 py-3 border-b-2 border-gray-300 text-center text-sm leading-4 text-blue-500 tracking-wider">{{totalInputVal4}}</th>
                    <th *ngIf="5 <= tallas.length" class="px-6 py-3 border-b-2 border-gray-300 text-center text-sm leading-4 text-blue-500 tracking-wider">{{totalInputVal5}}</th>
                    <th *ngIf="6 <= tallas.length" class="px-6 py-3 border-b-2 border-gray-300 text-center text-sm leading-4 text-blue-500 tracking-wider">{{totalInputVal6}}</th>
                    <th *ngIf="7 <= tallas.length" class="px-6 py-3 border-b-2 border-gray-300 text-center text-sm leading-4 text-blue-500 tracking-wider">{{totalInputVal7}}</th>
                    <th *ngIf="8 <= tallas.length" class="px-6 py-3 border-b-2 border-gray-300 text-center text-sm leading-4 text-blue-500 tracking-wider">{{totalInputVal8}}</th>
                    <th *ngIf="9 <= tallas.length" class="px-6 py-3 border-b-2 border-gray-300 text-center text-sm leading-4 text-blue-500 tracking-wider">{{totalInputVal9}}</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-center text-sm leading-4 text-blue-500 tracking-wider">{{totalInputTot}}</th>                    
                </tr>
            </tfoot>
        </table>
      <div class="sm:flex-1 sm:flex sm:items-center sm:justify-between mt-4 work-sans">
<div>
</div>
<div>
<nav class="relative z-0 inline-flex shadow-sm"> 
    
    
</nav>
</div>
</div>
</div>
</div>